{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" type="text.css" href="detail.css">
  </head>

  <body>
    <div class="box1">
      <h1>To Doリスト</h1>
      <p>以下のフォームから仕事の内容と期日を入力してください。</p>
    </div>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タスク:</label><br>
        <input id="titleInput" name="title" type="text" placeholder="input">
      </div>
      <div>
        <label for="dueInput">期日:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <button type="submit">追加</button>
      </div>
    </form>
    <br>

    <div>
      <a href="{% url 'index' %}?order=due">日付順に並び変える</a> |
      <a href="{% url 'index' %}?order=post">追加順に並び変える</a>
    </div>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>追加日: {{ task.posted_at }}</li>
        {% if task.due_at %} 
        <li>期日: {{ task.due_at }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>進行状況: 完了</li>
        {% else %}
        <li>進行状況: 未完了</li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </body>

</html>